.md {
    --f7-font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --f7-button-font-size: 14px;
    --f7-button-large-font-size: 17px;
    --f7-button-text-transform: none;
    --f7-button-large-text-transform: none;
    --f7-button-font-weight: normal;
    --f7-button-large-font-weight: normal;
    --fts-icon-size: 28px;
    --fts-icon-margin-top: 4px;
}

.ios {
    --f7-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --f7-button-font-size: 14px;
    --f7-button-large-font-size: 17px;
    --f7-button-text-transform: none;
    --f7-button-large-text-transform: none;
    --f7-button-font-weight: normal;
    --f7-button-large-font-weight: normal;
    --fts-icon-size: 24px;
    --fts-icon-margin-top: 2px;
}

.button {
    text-align: left;
    /* font-weight: normal; */
}

.fts-icon {
    width: var(--fts-icon-size);
    height: var(--fts-icon-size);
    margin-top: var(--fts-icon-margin-top);
}